---
import Modal from './Modal.astro';
---

<Modal
  id='log-in'
  title='Log In'
  data='logInData'
  fn='logIn'
  btnText='Log In'
>
  <div class="space-y-1">
    <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="username-log-in">Username</label>
    <input x-model='username' type="text" placeholder="Username" id="username-log-in" class="flex w-full h-10 px-3 py-2 text-sm bg-white border rounded-md peer border-neutral-300 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-neutral-400 disabled:cursor-not-allowed disabled:opacity-50" />
  </div>
  <div class="space-y-1">
    <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="password-log-in">Password</label>
    <input x-model='password' type="password" placeholder="Password" id="password-log-in" class="flex w-full h-10 px-3 py-2 text-sm bg-white border rounded-md border-neutral-300 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-neutral-400 disabled:cursor-not-allowed disabled:opacity-50" />
  </div>
</Modal>
